@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Source+Sans+Pro:wght@200&display=swap');

* {
     font-family: 'Comfortaa', sans-serif;
     text-decoration: none;
     margin: 0;
     padding: 0;
}

header, footer {
     display: flex;
     justify-content: center;
     align-items: center;
}

section {
     width: 100%;
     margin: 80px 0;
}

h1 {
     font-size: 1rem;
     margin: 5px 0;
}

h2 {
     font-size: 1rem;
}

h3 {
     font-size: 1.4rem;
     margin: 17px 0;
}

p {
     font-size: 1.1rem;
     line-height: 29px;
}

.area-limite, .area-limite-menu {
     width: 65%;
     max-width: 1280px;
     margin: 0 auto;
     padding: 20px;
}

/* CABEÇALHO */

.conteudo-menu {
     width: 70%;
     padding: 30px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.conteudo-menu span {
     font-size: 1.6rem;
     font-weight: 900;
}

.conteudo-menu nav {
     display: flex;
}

.conteudo-menu a {
     color: #1b1b1b;
     font-size: 1.1rem;
     font-weight: 500;
     margin: 0 15px;
     padding: 10px 20px;
     transition: 0.3s;
}

.conteudo-menu a:hover {
     color: #fff;
     background-color: #df6464;
     transition: 0.4s;
}

/* CAPA */

section:first-of-type {
     height: 400px;
     margin: 0;
     background-image: url('../img/capa.jpg');
     background-size: cover;
     background-repeat: no-repeat;
}

.sombra-capa {
     width: 100%;
     height: 42%;
     background-color: #000;
     opacity: 0.6;
     display: flex;
     justify-content: center;
     align-items: center;
}

.conteudo-capa {
     color: #fff;
     font-size: 1.1rem;
     text-align: right;
     width: 70%;
}

/* SEÇÃO SOBRE */

.carrossel-de-fotos {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 8px;
     margin: 30px 0;
}

.carrossel-de-fotos figure {
     width: calc(90% / 3);
     box-shadow: 0 0 5px 1px #cacaca;
}

.carrossel-de-fotos figure img {
     width: 100%;
}

.breve-apresentacao {
     margin-top: 40px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 20px;
}

.breve-apresentacao span {
     color: #3f3f3f;
     font-weight: 600;
     padding-left: 12px;
     border-left: 3px solid #df6464;

}

/* SEÇÃO DIVISÃO */

.secao-divisao {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 10px 0;
     border-bottom: 2.5px solid #6b3636;
}

.conteudo-secao-divisao {
     text-align: center;
     width: 100%;
}

.conteudo-secao-divisao h3 {
     font-size: 1.8rem;
     margin: 0;
     padding: 10px 0;
}

/* ÁREA FORMULÁRIO */

form {
     width: 80%;
     font-weight: 600;
     margin: 20px 0;
}

fieldset {
     margin: 25px 0;
     border: 1px solid #1b1b1b;
}

legend {
     margin-left: 33px;
}

.grupo-input {
     display: flex;
     flex-direction: column;
     padding: 20px;
}

.grupo-input label {
     margin: 15px 0;
     padding-left: 10px;
     border-left: 3px solid #df6464;
}

.grupo-input input, .grupo-input select {
     font-size: 1rem;
     height: 40px;
     padding: 10px;
     border: 1px solid #525252;
     box-sizing: border-box;
}

.grupo-input input::placeholder {
     font-style: italic;
}

.grupo-input input:focus {
     border: none;
     box-shadow: 0 0 10px 1px #804242b6;
}

optgroup, option {
     font-size: 1.1rem;
}

.area-botao button {
     color: #fff;
     font-size: 1rem;
     font-weight: 700;
     background-color: #aa5555;
     padding: 12px 50px;
     border: 3px solid #aa5555;
     border-radius: 0 20px  0 20px;
     transition: 0.3s;
}

.area-botao button:hover {
     color: #aa5555;
     background-color: #fff;
     border-radius: 20px 0 20px 0;
     transition: 0.3s;
}

/* RODAPÉ */

footer {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 15px 0;
     background-color: #7e3737;
     border-top: 3px solid #f0a7a7;
}

footer .area-limite {
     color: #ffd2d2;
     font-size: 1.1rem;
     font-weight: 600;
     text-align: center;
}


/* MEDIAQUERY */

@media (min-width: 1441px) {
     .conteudo-capa h1, .conteudo-capa h2 {
          font-size: 1.8rem;
     }

     section:first-of-type {
          height: 600px;
     }
}

@media (max-width: 1440px) {
     .conteudo-capa h1, .conteudo-capa h2 {
          font-size: 1.8rem;
     }

     .grupo-input label {
          margin: 30px 0;
     }
}

@media (max-width: 1024px) {
     .grupo-input label {
          margin: 15px 0;
     }

     section:first-of-type {
          height: 300px;
     }
}

@media (max-width: 1000px) {
     .area-limite {
          width: 80%;
     }

     .carrossel-de-fotos figure {
          width: calc(80% / 2);
     }
}

@media (max-width: 800px) {
     .conteudo-capa h1, .conteudo-capa h2 {
          font-size: 1.4rem;
     }

     .area-limite-menu {
          width: 100%;
     }

     .conteudo-menu {
          flex-direction: column;
          gap: 10px;
          padding: 30px 0 0 0;
     }

     .conteudo-menu nav {
          width: 100%;
          justify-content: center;
          align-items: center;
          margin-top: 15px;
          background-color: #7e3737;
     }

     .conteudo-menu a {
          color: #cacaca;
          text-align: center;
          margin: 0 auto;
          padding: 10px;
          box-sizing: border-box;
     }

     .conteudo-menu span {
          padding: 5px 10px;
          border-bottom: 2px solid #7e3737;
     }

     section:first-of-type {
          height: 200px;
     }

     .carrossel-de-fotos figure {
          width: calc(70% / 1);
          margin: 5px 0;
     }

     form {
          width: 100%;
     }
}

@media (max-width: 500px) {
     .conteudo-capa h1, .conteudo-capa h2 {
          font-size: 1rem;
     }

     .carrossel-de-fotos figure {
          width: calc(90% / 1);
     }
}

@media (max-width: 430px) {
     .conteudo-capa h1, .conteudo-capa h2 {
          font-size: 0.9rem;
     }

     h3 {
          font-size: 1.2rem;
     }

     .area-limite {
          width: 87%;
     }

     section:first-of-type {
          height: 150px;
     }

     section {
          margin: 20px 0;
     }

     .conteudo-menu a,
     footer .area-limite span {
          font-size: 0.9rem;
     }

     .conteudo-secao-divisao h3 {
          font-size: 1.4rem;
     }

     .grupo-input {
          margin: 10px 0;
          padding: 10px 15px;
     }

     p,
     option,
     optgroup,
     .breve-apresentacao span,
     .grupo-input label, 
     .grupo-input input, 
     .grupo-input select,
     .area-botao button {
          font-size: 0.8rem;
     }

     .area-botao button {
          padding: 8px 18px;
     }

     footer {
          padding: 10px;
     }
}